/* import font */
@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Helvetica ,monospace, Courier, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.side {
    background-image: url("lexi-laginess-nt6N7BS3rPk-unsplash.jpg");
    /* background-color: green; */
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 339px;
    max-width: 339px;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.trans-bg img[alt="Company Logo"] {
    width: 80px;
    color: white;
}

.trans-bg {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    position: relative;
    top: 30%; 
    left: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px;
}

.trans-bg > span.logotext {
    color: white;
    font-family: 'Norse';
    font-size: 6rem;
}

p.credit {
    color: white;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0px;
    align-self: center;
}

p a:link {
    color: white;
}

p a:visited {
    color: white;
}


/* right side area styles */
.main {
    background-color: rgb(246, 246, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0px 50px;
}

.inmain:not(.form) {
    margin-left: 30px;
    width: 50ch;
}

.main > .maintext :not(:last-child) {
    font-weight: bold;
}

/* form stuff */


.form {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 6px 8px 0px rgba(184, 184, 184, 0.84);
}

h2 {
    margin-left: 30px;
    color: rgb(83, 83, 83);
}

li {
    list-style-type: none;
    display: flex;
    color: rgb(83, 83, 83);
    font-size: 0.8rem;
    /* margin-left: 30px; */
}

li + li {
    margin-top: 20px;
}

div.input {

    width: 240px;
    padding-right: 0px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:hover {
    background: rgb(242, 252, 246);
}



div.input > input:user-invalid{
    outline: 1px dotted red;
    background: rgb(255, 210, 210);
}


input:focus {
    background: rgb(255, 255, 255);
    outline: 1px solid blue;
    box-shadow: 0px 6px 8px 0px rgba(184, 184, 184, 0.84);;
}

button[type="submit"] {
    padding: 10px 30px 10px;
    background-color:#596D48;
    color: white;
    border: 2px solid #596D48;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.main p a:link, .main p a:visited {
    color: rgb(0, 83, 35);
    font-weight: bold;
}